.newmain {
    display: flex;
}

.newleft {
    width: 60%;
    background-image: url('../../Asserts/Images/background.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.reslogo {
    padding: 40px 0px 0px 40px;
    width: 150px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.newleft div:nth-of-type(1) img {
    width: 100%;
    height: 96vh;
}

.newpass{
    background: #EAEDFE;
    width: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* margin: auto; */
    padding-inline: 40px;
  
}

.newpass p{
    color: #2BAC76;
font-family: Gilroy-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
}

.newpass h1{
    color: #252525;

font-family: Gilroy-Bold;
font-size: 40px;
font-style: normal;
font-weight: 400;
}

.newpass span{
    color: #252525;

font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
opacity: 0.3;
}

.newpass label{
    color: #252525;

    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}


.newcontain label{
    color: #252525;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.nepass{
    padding-top: 20px;
}

.nepass input{
    padding: 10px;
}

.lockandinput{
    position: relative;
    margin-top: 10px;
}

.lockandinput input{
    text-indent: 20px;
    outline: none;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    width: 80%;
    color: #252525;

font-family: Gilroy-Regular;
font-size: 13px;
font-weight: 400;
}

.passicon{
    position: absolute;
    top: 11px;
    left: 10px;
}


.newpass button{
margin-top: 20px;
    width: 70%;
    height: 40px;
    color: white;
    border-radius: 10px;
    background: #2BAC76;
    border: none;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-weight: 600;
}

@media(max-width:768px){
    .newleft{
        width: 50%;
    }
    .newpass{
        width: 50%;
    }
}



@media(max-width:500px){

    .newmain{
        flex-direction: column;
    }
    .newleft{
        display: none;
    }

    .newpass{
        background: #EAEDFE;
        width: 100%;
        height: 100vh;
        /* padding-top: 200px;
        padding-left: 70px; */
    }


.resright{
    width: 100%;
    padding: 30px 0px;
}
}
