.mloginup {
    display: flex;
}

.loginleft {
    background-image: url('../../Asserts/Images/background.png');
    width: 60%;
    height: 564px;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

.loginlogo {
    padding: 40px 0px 0px 40px;
    width: 150px;
}

.loginleft div:nth-of-type(1) {
    width: 100%;
    height: 88vh;
}

.loginleft div:nth-of-type(1) img {
    width: 100%;
    height: 86vh;
}

/* this si the the css for the form */

.loginright {
    width: 40%;
    background: #EAEDFE;
    padding-top: 40px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
}


.sign {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #2E3032;
}

.enter {
    color: #2E3032;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0px 20px 0px;
}

form {
    position: relative;
}

.emi {
    color: #2E3032;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    padding: 30px 0px 0px 0px;
}

form input {
    width: 403px;
    height: 48px;
    background: #FBFBFB;
    border-radius: 16px;
    border: none;
    margin: 10px 0px 10px 0px;
    text-indent: 60px;
    font-size: 15px;
    font-weight: 500;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2E3032;
}

.pas {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #2E3032;
    padding: 10px 0px 0px 0px;
}

.con {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #2E3032;
    padding: 10px 0px 0px 0px;
}

.but button {
    width: 403px;
    height: 48px;
    background: #2bac76;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Gilroy-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    /* margin-top: 10px; */
}

.button {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: #2E3032;
    text-decoration: none;
    padding: 25px 0px 0px 0px;
}

.button a {
    text-decoration: none;
}

.check {
    color: red;
}

.main0 {
    display: flex;
}

.ch1 {
    display: flex;
}

.sho {
    font-family: Gilroy-Regular;
    font-family: 400;
    font-size: 16px;
    /* padding: 9px 0px 0px 5px; */
}

.reset {
    font-family: Gilroy-Regular;
    font-family: 400;
    font-size: 16px;
    font-weight: 500;
    /* padding: 10px 0px 0px 130px; */
    color: #2bac76;
    cursor: pointer;
}

.button span {
    color: #2bac76;
    font-family: Gilroy-SemiBold;
}

/* this  is for the icons */

.gmi11 {
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 18px;
}

.gmi22 {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 18px;
}

.ore {
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    color: #252525;
}

.google {
    width: 403px;
    height: 48px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

@media(max-width:1024px) {
    .loginleft {
        width: 55%;

    }

    .loginright {
        width: 45%;
    }
}

@media(max-width:768px) {
    .loginleft {
        width: 55%;
    }

    .loginright {
        width: 45%;
        padding-left: 20px;
    }

    form input {
        width: 305px;
    }

    .but button {
        width: 305px;
    }

    .google {
        width: 305px;
    }
}

@media(max-width:450px) {
    .mloginup {
        flex-direction: column;

    }

    .loginleft {
        display: none;
    }

    .loginright {
        width: 100% !important;
    }
}

.mloginup {
    display: flex;
}

.loginleft {
    background-image: url('../../Asserts/Images/background.png');
    width: 60%;
    height: 564px;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

.loginlogo {
    padding: 40px 0px 0px 40px;
    width: 150px;
}

.loginleft div:nth-of-type(1) {
    width: 100%;
    height: 88vh;
}

.loginleft div:nth-of-type(1) img {
    width: 100%;
    height: 86vh;
}

/* this si the the css for the form */

.loginright {
    width: 40%;
    background: #EAEDFE;
    /* padding-top: 40px; */
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}


.sign {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #2E3032;
}

.enter {
    color: #2E3032;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0px 20px 0px;
}

form {
    position: relative;
}

.emi {
    color: #2E3032;
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    padding: 30px 0px 0px 0px;
}

form input {
    width: 403px;
    height: 48px;
    background: #FBFBFB;
    border-radius: 16px;
    border: none;
    margin: 10px 0px 10px 0px;
    text-indent: 60px;
    font-size: 15px;
    font-weight: 500;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2E3032;
}

.pas {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #2E3032;
    padding: 10px 0px 0px 0px;
}

.con {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #2E3032;
    padding: 10px 0px 0px 0px;
}

.but button {
    width: 403px;
    height: 48px;
    background: #2bac76;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Gilroy-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    /* margin-top: 10px; */
}

.button {
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    color: #2E3032;
    text-decoration: none;
    padding: 25px 0px 0px 0px;
}

.button a {
    text-decoration: none;
}

.check {
    color: red;
}

.main0 {
    display: flex;
}

.ch1 {
    display: flex;
    gap: 5px;
}

.sho {
    font-family: Gilroy-Regular;
    font-family: 400;
    font-size: 16px;
    /* padding: 9px 0px 0px 5px; */
}

.reset {
    font-family: Gilroy-Regular;
    font-family: 400;
    font-size: 16px;
    font-weight: 500;
    /* padding: 10px 0px 0px 130px; */
    color: #2bac76;
    cursor: pointer;
}

.button span {
    color: #2bac76;
    font-family: Gilroy-SemiBold;
}

/* this  is for the icons */

.gmi11 {
    position: absolute;
    top: 17%;
    left: 5%;
    font-size: 18px;
}

.gmi22 {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 18px;
}

.ore {
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
    color: #252525;
}

.google {
    width: 403px;
    height: 48px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

@media(max-width:1024px) {
    .loginleft {
        width: 55%;
    }

    .loginright {
        width: 45%;
    }
}

@media(max-width:768px) {
    .loginleft {
        width: 55%;
    }

    .loginright {
        width: 45%;
        padding-left: 20px;
    }

    form input {
        width: 305px;
    }

    .but button {
        width: 305px;
    }

    .google {
        width: 305px;
    }
}

@media(max-width:450px) {
    .mloginup {
        flex-direction: column;
    }

    .loginleft {
        display: none;
    }

    .loginright {
        width: 100% !important;
    }
}